h1 {
    font-size: 100px;
    /* font-size: 10px; */
    /* color: red; */
    background-color: lightskyblue;
    text-align: center;
    margin-top:30px;
    /* margin-right:0px;
    border-right:0px;
    padding-right:0px; */
    width:auto;
    /* display:none; */
}
body {
    background-color: darkblue;
}
img {
    /* display:none; */
    width: 100px;
    height: 100px;
}