h1 {
    font-size: 100px;
    /* font-size: 10px; */
    /* color: red; */
    background-color: lightskyblue;
    text-align: center;
    margin-top:30px;
    /* margin-right:0px;
    border-right:0px;
    padding-right:0px; */
    width:auto;
}
body {
    background-color: darkblue;
}
img {
    width: 100px;
    height: 100px;
}

.Division {
    background-color: plum;
    /* padding:30px; */
    margin:30px;
    padding:15px;
    /* text-align: center; */
    /* width:1092px;
    height:1008px; */
}

.Links {
    /* margin:20px; */
    /* display:inline; */
    align-items: center;
    align-content: center;
    text-align: center;

}

.Link {
    height:150px;
    width:150px;
    display:inline-block;
    align-items: center;
    align-content: center;
    text-align: center;
}